#question_container
	%p
		= question.content

		= link_to "", like_event_question_path(@event, question), method: :put,class:'glyphicon glyphicon-thumbs-up'
		= question.score
		= 'Vote'.pluralize(question.score)

	= link_to "Edit", edit_event_question_path(question.event, question), class: "button"
	= link_to "Delete", [question.event, question], method: :delete, data: {confirm: "Are you sure?"}, remote: true, id: 'delete_question'
