%h1 This is show
= @event.title
= @event.description

.buttons
  = link_to "Back", root_path, class: 'btn btn-primary'
  = link_to "Edit", edit_event_path, class: 'btn btn-primary'
  = link_to "Delete", event_path, method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger'
