.container
  %section.title_section
    %h1.title
      = @event.title
    .date
      Submitted #{time_ago_in_words(@event.created_at)} ago
    .links
      = link_to 'Edit', edit_event_path
      = link_to 'Delete', event_path, method: :delete, data: {confirm: 'Are you sure?'}
      = link_to 'View description', '#', id: 'description-link'
    %br
    %p#description
      = @event.description

  %section#question_section
    %h1.event_count
      = @event.questions.count
      ='Question'.pluralize(@event.questions.count)
    #questions
      = render @event.questions

    #question-form
      %h1 New Question
      = render 'questions/form'
