!!!
%html
  %head
    %title QAndA
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{href: "https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:400,700", :rel => "stylesheet", :type => "text/css"}/
  %body
    %header#top_header.clearfix
      .wrapper
        .logo
          = link_to "Q&A platform", admin_root_path
        %nav#main_nav
          = link_to 'My Events', admin_events_path
          = link_to 'New Event', new_admin_event_path
          = link_to 'Sign Out Admin', destroy_admin_session_path, method: :delete
    .wrapper
      = yield
      %p.notice= notice
      %p.alert= alert
      %p You logged in as:
      = current_admin.email
