!!!
%html
  %head
    %title QAndA
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %a.navbar-brand{:href => "#"} Q&A platform
          %ul.nav.navbar-nav
            %li.active
              =link_to "Home", root_path
            %li
              =link_to "New Event", new_event_path
    .wrapper
      = yield
      %p.notice= notice
      %p.alert= alert
